.form-back
	display: flex
	&__left
		padding: 80px 0	80px 7%
		background-color: #ffc000;
		width: 55%
	&__right
		padding: 80px 7% 80px 0
		
		background: url('../img/lower-form-bg.jpg') no-repeat center
		background-size: 100%
		width: 45%