@media (max-width: 1199px)
	.container
		width: 970px
	.feedback
		background: #fff
	.form
		margin: 0 auto
@media (max-width: 992px)
	.container
		width: 767px
	.main
		&-text
			&__title
				font-size: 30px
				line-height: 36px
		&-wrap
			align-items: center

	

@media (max-width: 768px)
	.header
		&-text
			&__city
				font-size: 12px
			&__phone
				font-size: 18px
	.hidden-xs
		display: none
	.hidden-img
		display: block
		width: 25px
	.button-media
		padding: 10px 25px
	.container
		width: 95%
	.main
		&-wrap
			flex-direction: column
		&-text
		 max-width: 400px
		 margin: auto
		 &__title
		 	text-align: center
		&-advantages
			margin: 0 auto
			
	.form
		margin: 0 auto
		&__button
		&__subbutton
			&__text
			&__img
				width: 215px
				&:before
					display: none
		&__title
			text-align: center
		&__subtitle
			text-align: center

@media (max-width: 480px)
	.container
		width: 460px
	.hidden-img
		display: block
		width: 20px
	.button-media
		padding: 10px 15px
	.header
		&-logo
			width: 28%
		&-text
			&__city
				font-size: 12px
			&__phone
				font-size: 16px
	.container
		width: 100%
	.main
		padding: 15px
		&-text
		 font-size: 14px
		 &__title
		 	font-size: 18px
		 	margin-bottom: 30px
		 	span
		 		font-size: 14px
		&-advantages
			&__img
				margin-right: 15px
	.form
		&__title
			font-size: 18px
			text-align: center
		&__subtitle
			text-align: center
		&__input
			&:first-child
				margin-right: 0
		&__button
			width: 270px
			margin: 0 auto
		&__subbutton
			flex-direction: column
			align-items: center
			text-align: center
			margin-left: 0
			&__text
				
			&__img
				&:before
					display: none
	.form-media
		text-align: center