@media (max-width: 1920px)
	.feedback
		padding: 3.3% 0
		background: url('../img/feedback/feedback.bg.jpg') no-repeat center left 100%

@media (max-width: 1750px)
	.feedback
		padding: 3.3% 0
		background: url('../img/feedback/feedback.bg.jpg') no-repeat center left 125%
@media (max-width: 1460px)
	.feedback
		padding: 3.3% 0
		background: url('../img/feedback/feedback.bg.jpg') no-repeat center left 150%

@media (max-width: 1350px)
	.feedback
		padding: 3.3% 0
		background: url('../img/feedback/feedback.bg.jpg') no-repeat center left 725px

@media (max-width: 1199px)
	.container
		width: 970px
	.feedback
		background: #fff
	.form
		margin: 0 auto
	.main
		&-image
			transform-origin: center
			transform: scale(1)
			z-index: 1;
	.slider
		&__item
			img
				max-width: 95%

@media (max-width: 1065px)
	.modal
		&__services
			padding-top: 0px
		&-product
			margin: 20px 80px
			flex-direction: column
			&__text
				margin-top: -115px
				width: 80%
			&__img
				margin-top: 100px
				width: 70%
			&__price
				display: none
		&__works
		 display: none
@media (max-width: 992px)
	.container
		width: 767px
	.main
		&-text
			&__title
				font-size: 30px
				line-height: 36px
		&-wrap
			align-items: center
	.modal
		&-product
			&__title
				&:after
					display: none
	
@media (max-width: 920px)
	.modal
		&-product
			display: none
		&__services
			width: 0%
	.form
		margin: 0 auto
		&__subbutton
			&__img
				width: 215px
				&:before
					display: none
		&__title
			text-align: center
		&__subtitle
			text-align: center

@media (max-width: 768px)
	.header
		&-text
			&__city
				font-size: 12px
			&__phone
				font-size: 18px
	.hidden-xs
		display: none
	.hidden-img
		display: block
		width: 25px
	.button-media
		padding: 10px 25px
	.container
		width: 95%
	.main
		&-wrap
			flex-direction: column
		&-text
		 max-width: 400px
		 margin: auto
		 &__title
		 	text-align: center
		&-advantages
			margin: 0 auto
	.form
		&__input
			width: 100%
	.item
		width: 80%
		height: 80%
		margin: auto

@media (max-width: 480px)
	.container
		width: 460px
	.hidden-img
		display: block
		width: 20px
	.button-media
		padding: 10px 15px
	.header
		&-logo
			width: 28%
		&-text
			&__city
				font-size: 12px
			&__phone
				font-size: 16px
	.container
		width: 100%
	.main
		padding: 15px
		&-text
		 font-size: 14px
		 &__title
		 	font-size: 18px
		 	margin-bottom: 30px
		 	span
		 		font-size: 14px
		&-advantages
			&__img
				margin-right: 15px
	.form
		&__title
			font-size: 18px
			text-align: center
		&__subtitle
			text-align: center
		&__input
			width: 90%
			&:first-child
				margin-right: 0
		&__button
			width: 270px
			margin: 0 auto
		&__subbutton
			flex-direction: column
			align-items: center
			text-align: center
			margin-left: 0
			&__text
				
			&__img
				&:before
					display: none
	.form-media
		text-align: center
	.modal
		&__dialogs
			height: 80%
		&-form
			width: 90%
			&__title
				margin-bottom: 20px
				font-size: 18px
			&__subtitle
				font-size: 13px
				padding-bottom: 15px
			&__input
				width: 90%
				margin: 2px 0
			&__button
				width: 90%
				margin-top: 10px
				font-size: 13px
			&__subbutton
				width: 90%
				font-size: 12px
				&__text
					margin: 15px 0 15px 0
				&__tel
					font-size: 18px
	.section
		&-title
			font-size: 20px
			margin: 0 0 25px 0
	.portfolio
		padding: 35px 0 100px 0