@import 'var'
@import '_mixins'
@import 'fonts'
@import 'normalize'
@import 'inteface'
@import 'header'
@import 'main'

body
	font-family: Museo Sans Cyrl 300, sans-serif
	color: $text-color
.container
	width: 1170px
	margin: 0 auto
img
	max-width: 100%