@import 'var'
@import '_mixins'
@import 'fonts'
@import 'normalize'
@import 'inteface'
@import 'header'
@import 'main'
@import 'feedback'
@import 'modal'
@import 'portfolio'

*, *:before, *:after
	box-sizing: border-box

body
	overflow-x: hidden
	font-family: Museo Sans Cyrl 300, sans-serif
	color: $text-color
	

.container
	width: 1170px
	margin: 0 auto
img
	max-width: 100%

.section
	&-title
		+bold
		line-height: 45px
		padding: 0
		margin: 0 0 90px 0
		font-size: 28px
		&_center
			text-align: center


@import 'media'