body{
	  font-size: 60px;
	  text-align: center;
}
.title1{
	font-family: 'Museo Sans Cyrl 900';
  font-weight: bold;
  font-style: normal;
}
.title2{
	font-family: 'Museo Sans Cyrl 700';
  font-weight: normal;
  font-style: normal;
}
.title3{
	font-family: 'Museo Sans Cyrl 500';
  font-weight: normal;
  font-style: normal;
}
.title4{
	font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  font-style: normal;
}
.title5{
	font-family: 'Museo Sans Cyrl 100';
  font-weight: 300;
  font-style: normal;
}